packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []
    git: []
    postgresql94-devel: []
    texlive: []
    texlive-texlive: []
    texlive-latex: []
    texlive-tetex: []
    texlive-pdftex: []
    texlive-babel: []
    texlive-fontspec: []
    texlive-latex-bin: []
    texlive-latex-fonts: []
    texlive-amsmath: []
    texlive-lualatex-math: []
    texlive-mathpazo: []
    texlive-mathspec: []
    texlive-pxfonts: []
    texlive-textcase: []
    texlive-txfonts: []
    texlive-unicode-math: []
